body {
    font-family: Avantgarde, sans-serif;
}

.c1 {
    height: 200px;
    background-image: url("flowers.jpg");
}

.c11 {
    border: 1px solid #000;
    height: 25px;
    background-color: grey;
    text-align: right;
}

.c11 a {
    color: azure;
}

.c2 {

    background-color: aliceblue;
}

.c22 {
    background-color: grey;
    border: 1px solid #000;
}

.c22 a {
    color: white;
}

.c22 h5 {
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 20px 0 20px 0;
}
.c23{
    min-height: 410px;
}
.c23 h1 {

    text-align: center;
}

.c3 {
    border: 1px solid #000;
    height: 50px;
    background-color: grey;
    color: white;
    text-align: center;
    flex: 0 0 auto;
}

.modal-header {
    display: block;
}

.buttonIn {
    cursor: pointer;
    height: 24px;
    color: azure;
    background-color: grey;
    border: 1px solid #000;
}

.product {
    padding: 40px;
}
.basket{
    margin:10px;
    background-color: darkgrey;
}
